@media screen and (max-width:450px){
 .background-image{
    padding-bottom:10% ;
    }
    .background-image header{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto
    }
    #header-media{
      display: none;
    }
    #header-logo{
      justify-self: left;
    }
    #header-logo img{
      margin-top: 5px;
      width: 90px;
    }
    #header-bars{
      justify-self: right;
      font-size: 2rem;
      padding-right: 10px;
      margin-top: 15px;
    }  
    .title h1{
        font-size: 2rem;
        padding-top: 10px;
    }
    .title p{
      font-size: 1rem;
      padding-top: 10px;
      line-height: 1.4rem;
      font-weight: 300;
    }
    .gallery .parent {
      position:  relative;
      top: -85px;
      left: 0;
      text-align: center;
    }
  
    .gallery header ul {
      margin-bottom: 1rem;
    }
    .gallery header ul li{
      margin-top:5px;
    }
    .gallery .images {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0px 15px;
      margin-bottom: 25px;
    }
    #footer .row{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .col-links{
      flex:40%;
      padding:0% 1%;
    }
    .col-address{
      flex: 60%;
    }
    .col-logo {
      display: none;
    }
    .col-media{
      flex: 100%;
      text-align:center;
      margin-top: 40px;
    }
    .row-rights{
      margin-top: 60px;
    }
}

@media screen and (min-width: 451px) and (max-width: 800px){
  .background-image header{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto
  }
  #header-media{
    margin-top:10px;
  }
  #header-logo img{
    width: 120px;
  }
  #header-bars{
    padding-right: 1%;
    margin-top: 10px;
    text-align: right;
  } 
  .title h1{
      font-size: 2rem;
      padding-top: 10px;
  }
  .title p{
    font-size: 1rem;
    padding-top: 4%;
    line-height: 1.4rem;
    font-weight: 300;
  }
  .gallery .parent {
    position: relative;
    top: -5rem;
    left: 0;
    text-align: center;
  }
  .gallery .images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 15px;
    margin-bottom: 25px;
  }
  #footer .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .col-links{
    flex: 40%;
    padding: 0% 1%;
  }
  .col-address{
    flex: 60%;
  }
  .col-logo {
    display: none;
  }
  .col-media{
    flex: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .row-rights{
    margin-top: 60px;
  }
}
